//META{"name":"Higher contrast+","description":"Raises contrast on certain elements to improve legibility and ease-of-use for some users. Plus, adjusts the font styles and weights to help improve clarity and prevent overly-excessive high contrast.","author":"Paint_Ninja","version":"1.2"}*//{}
.theme-dark .chat>.title-wrap.title-wrap-dark .topic,
.theme-dark .ui-standard-sidebar-view #editor-detached h3,
.theme-dark .desc-2dKaro,
.theme-dark .primary-2giqSn,
.theme-dark .bda-slist .bda-name,
.theme-dark .ui-standard-sidebar-view .bda-slist .bda-description,
.theme-dark #bd-settingspane-container .ui-switch-item .style-description,
.theme-dark .text-1rLRsh,
.theme-dark .title-38OOBL,
.theme-dark .user-settings-games .now-playing-add,
.theme-dark .user-settings-games .not-detected .last-played,
.theme-dark .user-settings-games .not-detected .game-name,
.theme-dark .ui-standard-sidebar-view .esc-text,
.theme-dark .ui-input-button .input,
.theme-dark .defaultColor-v22dK1,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header,
.theme-dark .user-settings-account .view-body,
.theme-dark .description-3MVziF,
.theme-dark .labelDescriptor-1BebCl,
.theme-dark .h5-3KssQU,
.theme-dark .ui-standard-sidebar-view .sidebar-region .sidebar *,
.theme-dark .nameDefault-Lnjrwm,
.theme-dark .content-2mSKOj *,
.theme-dark .contentDefaultText-2elG3R,
.theme-dark .contentDefaultVoice-311dxZ,
.theme-dark .contentHoveredText-2HYGIY,
.theme-dark .contentHoveredVoice-3qGNKh,
.theme-dark .contentLockedText-1NPV7g,
.theme-dark .contentLockedVoice-2lGH0M,
.theme-dark .contentMutedText-Lcl-Wj,
.theme-dark .contentMutedVoice-1AvYom,
.theme-dark .contentSelectedText-3j5CXt,
.theme-dark .contentSelectedVoice-gTtYM9,
.theme-dark .contentUnreadText-3oxASB,
.theme-dark .contentUnreadVoice-1vHNNW,
.theme-dark .message-group .comment .markup,
.theme-dark .message-group h2 span,
.theme-dark .friends-table .messages .divider:not(.red) span,
.theme-dark .messages-wrapper .messages .divider:not(.red) span,
.theme-dark .channel-textarea-inner textarea,
.theme-dark .channel-members .member .member-activity,
.theme-dark .channel-members h2,
.theme-dark #friends .friends-table .friends-row .discord-tag .username,
.theme-dark #friends .friends-table .friends-row .friends-column-status .status-text,
.theme-dark #friends .friends-table .friends-table-header *,
.theme-dark .chat .new-messages-bar button:last-child,
.theme-dark .message-group .embed .embed-description, .theme-dark .message-group .embed .embed-fields,
.theme-dark .message-group .embed .embed-footer, .theme-dark .message-group .embed .embed-provider,
.theme-light .user-settings-games .now-playing-add,
.theme-light .user-settings-games .not-detected .last-played,
.theme-light .user-settings-games .not-detected .game-name,
.private-channels header,
.guilds-wrapper .guilds .friends-online,
.private-channels .channel .channel-name,
.private-channels .channel .channel-activity
{
    color: #fff !important;
    opacity: 1.0;
}
.theme-dark .channel-members .member,
.theme-dark .header-toolbar button span
{
    color: #eee;
    opacity: 1.0;
}
.private-channels .channel.selected a,
.contentSelectedText-3j5CXt {
    background-color: #000;
}
.option-popout .btn-item,
.option-popout .btn-item:hover,
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.selected
{
    color: #000;
}
.private-channels .channel .channel-activity strong,
#friends .friends-table .friends-row .friends-column-status .status-text strong,
.channel-members .member .member-activity strong
{
    font-weight: 500;
    font-style: italic;
}
.theme-light .chat>.title-wrap.title-wrap-dark .topic,
.theme-light .ui-standard-sidebar-view #editor-detached h3,
.theme-light .desc-2dKaro,
.theme-light .primary-2giqSn,
.theme-light .bda-slist .bda-name,
.theme-light .ui-standard-sidebar-view .bda-slist .bda-description,
.theme-light #bd-settingspane-container .ui-switch-item .style-description,
.theme-light .text-1rLRsh,
.theme-light .title-38OOBL,
.theme-light .user-settings-games .now-playing-add,
.theme-light .user-settings-games .not-detected .last-played,
.theme-light .user-settings-games .not-detected .game-name,
.theme-light .ui-standard-sidebar-view .esc-text,
.theme-light .ui-input-button .input,
.theme-light .defaultColor-v22dK1,
.theme-light #bd-settings-sidebar .ui-tab-bar-header,
.theme-light .user-settings-account .view-body,
.theme-light .description-3MVziF,
.theme-light .labelDescriptor-1BebCl,
.theme-light .h5-3KssQU,
.theme-light .ui-standard-sidebar-view .sidebar-region .sidebar *,
.theme-light .content-2mSKOj *,
.theme-light .contentDefaultText-2elG3R,
.theme-light .contentDefaultVoice-311dxZ,
.theme-light .contentHoveredText-2HYGIY,
.theme-light .contentHoveredVoice-3qGNKh,
.theme-light .contentLockedText-1NPV7g,
.theme-light .contentLockedVoice-2lGH0M,
.theme-light .contentMutedText-Lcl-Wj,
.theme-light .contentMutedVoice-1AvYom,
.theme-light .contentSelectedText-3j5CXt,
.theme-light .contentSelectedVoice-gTtYM9,
.theme-light .contentUnreadText-3oxASB,
.theme-light .contentUnreadVoice-1vHNNW,
.theme-light .message-group .comment .markup,
.theme-light .message-group h2 span,
.theme-light .friends-table .messages .divider:not(.red) span,
.theme-light .messages-wrapper .messages .divider:not(.red) span,
.theme-light .channel-textarea-inner textarea,
.theme-light .channel-members .member .member-activity,
.theme-light #friends .friends-table .friends-row .discord-tag .username,
.theme-light #friends .friends-table .friends-row .friends-column-status .status-text,
.theme-light #friends .friends-table .friends-table-header *,
.theme-light .chat .new-messages-bar button:last-child,
.theme-light .message-group .embed .embed-description, .theme-light .message-group .embed .embed-fields,
.theme-light .message-group .embed .embed-footer, .theme-light .message-group .embed .embed-provider
{
	color: #000 !important;
	opacity: 1.0;
}
