//META{"name":"Higher contrast+","description":"Raises contrast on certain elements to improve legibility and ease-of-use for some users. Plus, adjusts the font styles and weights to help improve clarity and prevent overly-excessive high contrast.","author":"Paint_Ninja","version":"1.2"}*//{}
.chat>.title-wrap.title-wrap-dark .topic,
.ui-standard-sidebar-view #editor-detached h3,
.theme-dark .desc-2dKaro,
.theme-dark .primary-2giqSn,
.bda-slist .bda-name,
.ui-standard-sidebar-view .bda-slist .bda-description,
#bd-settingspane-container .ui-switch-item .style-description,
.theme-dark .text-1rLRsh,
.theme-dark .title-38OOBL,
.theme-dark .user-settings-games .now-playing-add,
.theme-light .user-settings-games .now-playing-add,
.theme-dark .user-settings-games .not-detected .last-played,
.theme-light .user-settings-games .not-detected .last-played,
.theme-dark .user-settings-games .not-detected .game-name,
.theme-light .user-settings-games .not-detected .game-name,
.theme-dark .ui-standard-sidebar-view .esc-text,
.theme-dark .ui-input-button .input,
.theme-dark .defaultColor-v22dK1,
#bd-settings-sidebar .ui-tab-bar-header,
.theme-dark .user-settings-account .view-body,
.theme-dark .description-3MVziF,
.theme-dark .labelDescriptor-1BebCl,
.theme-dark .h5-3KssQU,
.ui-standard-sidebar-view .sidebar-region .sidebar *,
.nameDefault-Lnjrwm,
.content-2mSKOj *,
.contentDefaultText-2elG3R,
.contentDefaultVoice-311dxZ,
.contentHoveredText-2HYGIY,
.contentHoveredVoice-3qGNKh,
.contentLockedText-1NPV7g,
.contentLockedVoice-2lGH0M,
.contentMutedText-Lcl-Wj,
.contentMutedVoice-1AvYom,
.contentSelectedText-3j5CXt,
.contentSelectedVoice-gTtYM9,
.contentUnreadText-3oxASB,
.contentUnreadVoice-1vHNNW,
.theme-dark .message-group .comment .markup,
.theme-dark .message-group h2 span,
.theme-dark .friends-table .messages .divider:not(.red) span,
.theme-dark .messages-wrapper .messages .divider:not(.red) span,
.private-channels header,
.guilds-wrapper .guilds .friends-online,
.private-channels .channel .channel-name,
.theme-dark .channel-textarea-inner textarea,
.channel-members .member .member-activity,
.theme-dark .channel-members h2,
#friends .friends-table .friends-row .discord-tag .username,
#friends .friends-table .friends-row .friends-column-status .status-text,
.theme-dark #friends .friends-table .friends-table-header *,
.private-channels .channel .channel-activity,
.chat .new-messages-bar button:last-child,
.theme-dark .message-group .embed .embed-description, .theme-dark .message-group .embed .embed-fields,
.theme-dark .message-group .embed .embed-footer, .theme-dark .message-group .embed .embed-provider
{
    color: #fff !important;
    opacity: 1.0;
}
.theme-dark .channel-members .member,
.header-toolbar button span
{
    color: #eee;
    opacity: 1.0;
}
.private-channels .channel.selected a,
.contentSelectedText-3j5CXt {
    background-color: #000;
}
.option-popout .btn-item,
.option-popout .btn-item:hover,
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.selected
{
    color: #000;
}
.private-channels .channel .channel-activity strong,
#friends .friends-table .friends-row .friends-column-status .status-text strong,
.channel-members .member .member-activity strong
{
    font-weight: 500;
    font-style: italic;
}